@page
@using SchoolJournal.Pages;
@using SchoolJournal.Models;

@model IndexModel

@{
    ViewData["Title"] = Model.Title;
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@Model.Title</h1>
        <p class="lead text-muted">@Model.Description</p>
    </div>
</section>

<div class="container">

    <div class="card-deck">
        @foreach (Journal journal in Model.Journals)
        {
            <div class="card bg-secondary text-white">
                <div class="card-header">@journal.ClassName</div>
                <div class="card-body">
                    <p class="card-text">@journal.AcademicYear</p>
                </div>
                <div class="card-footer text-right">
                    <a asp-page="Journal" asp-route-joirnalid="@journal.Id" class="btn btn-info btn-sm btn-block">Open...</a>
                </div>
            </div>
        }
    </div>

    <div class="row py-4">
        <div class="col col-12 text-right">
            <a asp-page="AddJournal" class="btn btn-primary">
                Add Journal
            </a>
        </div>
    </div>

</div>
